Python Tutorial

In [8]:
print("Hello")

Hello

In [9]:
#This is a comment

In [10]:
"""This is a
multiline comment."""
print("Hello")

Hello

In [11]:
#create variables
x = 5
y = "Betul"
z = "Cetin"
t = 5.6
k = 3 + 4j  
print(x)
print(y)
print(y + " "+z)
print("Ayse " + y)
print(type(x))
print(type(y))
print(type(t))
print(type(k))

5
Betul
Betul Cetin
Ayse Betul
<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>

In [12]:
#casting

y = int(3.8)
z = float(4)
print(z)
print(y)

4.0
3

In [13]:
#strings in python

str = "I love Coding"
strwithspace = " I love"
print(strwithspace.strip())
print(str[3])
print(str[0:5])
print(len(str))
print(str.lower())
print(str.upper())
print(str.replace("I", "We"))
str3 = "Hello, world"
str2 = str3.split(",")
print(str2)

I love
o
I lov
13
i love coding
I LOVE CODING
We love Coding
['Hello', ' world']

In [14]:
#lists

mylist = [1,2,3,4,5]
print((mylist[0]))
mylist[0] = 0     #change the value of item
print(mylist)
print(len(mylist))
print ("Elements in list:")
for x in mylist:
    print(x)

if 4 in mylist:
    print ("yes 4 is in mylist")

mylist.append(6)  #add an item to the end of the list
print(mylist)
mylist.insert(6,-1)  #add an item to the specified index
mylist.insert(0,-1)
print(mylist)
mylist.remove(-1) #remove the specified item
mylist.pop()      #remove the last item
del mylist[0]     #remove an item at a specified index

print(mylist)

mylist.clear()   #empty a list
print(mylist)

thislist = list((1,2,3))   #using the list constructer to make a list is possible
print(thislist)

1
[0, 2, 3, 4, 5]
5
Elements in list:
0
2
3
4
5
yes 4 is in mylist
[0, 2, 3, 4, 5, 6]
[-1, 0, 2, 3, 4, 5, 6, -1]
[2, 3, 4, 5, 6]
[]
[1, 2, 3]

In [15]:
#tuples

mytuple = ("a","b","c")
print(mytuple)
for x in mytuple:
    print(x)
#other features are same with list
#mytuple[0] = d  changing the value is not possible

('a', 'b', 'c')
a
b
c

In [10]:
#sets

#unordered,unindexed 

myset = {"oo","uu","kk"}
print(myset)
myset.add("ll")
print(myset)
myset.update(["ee", "mm", "gg"])
print(myset)
myset.remove("ee")
myset.discard("mm")
print(myset.pop())
print(myset)
myset.clear()
del myset
thisset = set((1,2,3))
print(thisset)

{'uu', 'kk', 'oo'}
{'uu', 'kk', 'll', 'oo'}
{'gg', 'uu', 'll', 'mm', 'oo', 'kk', 'ee'}
gg
{'uu', 'll', 'oo', 'kk'}
{1, 2, 3}

In [11]:
# Dictionaries
    
mydict = {
  "name": "Betul",
  "age": 22
}
print(mydict)
print(mydict["name"])
mydict["age"]= 21
print(mydict)
print("Key names:")
for x in mydict:
    print(x)
print("Values:")
for x in mydict.values():
    #print(mydict[x])
    print(x)

mydict["surname"] = "cetin"
print(mydict)
    
for x,y in mydict.items():
    print(x,y)
    
mydict.pop("name")
print(mydict)

thisdict = dict(brand="Ford", model="Mustang", year=1964)
print(thisdict)
thisdict.clear()

{'name': 'Betul', 'age': 22}
Betul
{'name': 'Betul', 'age': 21}
Key names:
name
age
Values:
Betul
21
{'name': 'Betul', 'age': 21, 'surname': 'cetin'}
name Betul
age 21
surname cetin
{'age': 21, 'surname': 'cetin'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#if statement
a = int (input ("enter a number:"))
if a > 10:
    print(a)
elif a > 5:
    print(a)
else:
    print(0)

In [5]:
a = 10
b = 30
print("A") if a > b else print("B")

B

In [6]:
if a > b or b > a :
    print("A")
if a > 0 and b>0:
    print("B")

A
B

In [7]:
i = 0
while i < 6:
    print(i)
    i += 1

0
1
2
3
4
5

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [17]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [18]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [19]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [25]:
def my_function():
  print("Hello")

my_function()

Hello

In [28]:
def my_function(fname = "Betul"):
  print(fname + " Cetin")

my_function("Ayse")
my_function("Betul")
my_function()

Ayse Cetin
Betul Cetin
Betul Cetin

In [29]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [30]:
def recursion(k):
  if(k > 0):
    result = k + recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

recursion(6)

1
3
6
10
15
21

21

In [4]:
import numpy as np

In [22]:
arr = np.array(([1,2,3],[4,5,6],[7,8,9],[1.5,2.5,3.5]))

In [19]:
arr

array([[1. , 2. , 3. ],
       [4. , 5. , 6. ],
       [7. , 8. , 9. ],
       [1.5, 2.5, 3.5]])

In [23]:
arr[0] = arr[0]**2

In [24]:
arr

array([[1. , 4. , 9. ],
       [4. , 5. , 6. ],
       [7. , 8. , 9. ],
       [1.5, 2.5, 3.5]])